* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #E5E5E5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.header {
    min-width: 100vw;
    width: 100%;
    height: 70px;
    color: #E8833A;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C3CFD9;
    position: fixed;
    top: 0;
    left: 0;
}

.choosemovie {
    margin-top: 1700px;
}

.choose {
    width: 375px;
    height: 110px;
    font-size: 24px;
    color: #293845;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4%;
}

.movies {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movies img {
    width: 130px;
    height: 195px;
    margin: 20px;
}

.schedule {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date {
    font-size: 20px;
    letter-spacing: 2%;
    color: #293845
}

.time {
    width: 85px;
    height: 45px;
    background-color: #e8833a;
    border-radius: 3px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    min-width: 375px;
    width: 100%;
    height: 120px;
    border: 1px solid #9EADBA;
    background-color: #dfe6ed;
    font-size: 26px;
    color: #293845;
    justify-content: left;
    align-items: center;
}

.footer img {
    width: 50px;
    height: 70px;
    margin-left: 10px;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.footer p {
    margin-left: 10px;
}

.movieposter {
    width: 65px;
    height: 85px;
    background-color: white;
    margin-left: 10px;
    position: relative;
}

.position {
    display: flex;
    flex-wrap: wrap;
}

.individual-seat {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 1px solid #808F9D;
    font-size: 11px;
    letter-spacing: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chosen {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #8DD7CF;
    border: solid 1px #1AAE9E;
    margin-left: 25px;
    margin-bottom: 20px;
}

.available {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #C3CFD9;
    border: solid 1px #7B8B99;
    margin-left: 25px;
    margin-bottom: 20px;
}

.unavailable {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #FBE192;
    border: solid 1px #F7C52B;
    margin-left: 30px;
    margin-bottom: 20px;
}

.button-buy {
    width: 225px;
    height: 45px;
    background-color:#E8833A;
    border-radius: 4px;
    font-size: 18px;
    letter-spacing: 4%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seats-div button {
    margin-left: 70px;
}

.seats-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.seats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.individual-seat {
    margin: 15px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.options > div {
    margin-left: 20px;
    padding-left: 20px;
}

.buy div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.buy label {
    font-size: 18px;
}

.buy input {
    width: 325px;
    height: 50px;
    font-size: 18px;
    font-style: italic;
    color: #afafaf;
    border: solid 1px #d4d4d4;
    border-radius: 2px;
    margin-top: 10px;
    padding-left: 10px;
}

.success h2 {
    font-size: 24px;
    letter-spacing: 4%;
    color: #24746b;
    font-weight: bold;
}

.info h3 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 4%;
    color: #293845;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;

}

.info p {
    font-size: 22px;
    letter-spacing: 4%;
    margin-bottom: 15px;
    text-align: left;

}

.success {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
}


.seats p {
    text-align: center;
    margin-top: 6px;
    font-size: 12px;
}

.buy-tickets {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

a {
    text-decoration: none;
}

.footer-seats {
    display:flex;
    flex-direction: column;
}