* {
    box-sizing: border-box;
}

.root {
    font-family: 'Roboto';
    background-color: #E5E5E5;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.header {
    width: 100%;
    height: 70px;
    color: #E8833A;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C3CFD9;
    position: fixed;
    top: 0;
}

.choosemovie {
    margin-top: 60px;
}

.choose {
    width: 375px;
    height: 110px;
    font-size: 24px;
    color: #293845;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4%;
}

.movies {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movies img {
    width: 130px;
    height: 195px;
    margin: 20px;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date {
    font-size: 20px;
    letter-spacing: 2%;
    color: #293845
}

.time {
    width: 85px;
    height: 45px;
    background-color: #e8833a;
    border-radius: 3px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    min-width: 375px;
    width: 100%;
    height: 120px;
    border: 1px solid #9EADBA;
    background-color: #dfe6ed;
    font-size: 26px;
    color: #293845;
    justify-content: left;
    align-items: center;
}

.footer img {
    width: 50px;
    height: 70px;
    margin-left: 10px;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.footer p {
    margin-left: 10px;
}

.movieposter {
    width: 65px;
    height: 85px;
    background-color: white;
    margin-left: 10px;
    position: relative;
}

.position {
    display: flex;
    flex-wrap: wrap;
}

.individual-seat {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 1px solid #808F9D;
    background-color: #C3CFD9;
    font-size: 11px;
    letter-spacing: 4%;
}